%h1 Listing classrooms - sorting dorobit, nech ukazuje iba current rok ale da sa prepinat

%table
  %thead
    %tr
      %th Name
      %th School year
      %th Teacher
      %th
      %th
      %th

  %tbody
    - @classrooms.each do |classroom|
      %tr
        %td= classroom.name
        %td= complete_school_year(classroom.school_year)
        %td= classroom.teacher.name
        %td= link_to 'Show', classroom
        %td= link_to 'Edit', edit_classroom_path(classroom)
        %td= button_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Classroom', new_classroom_path
