%p#notice= notice

%p
  %b Name:
  = @classroom.name

%p
  %b Teacher:
  = @classroom.teacher.name

%p
  %b Year:
  = complete_school_year(@classroom.school_year)

%p
  %b Students:
  %br
  - @classroom.students.each do |student|
    = student.name
    %br
  %br

%p
  %b Link pre študentov:
  = new_user_registration_url(classroom_hashid: @classroom.hashid)

%p
  %b Pozvanie študenta:
  = link_to 'Invite student to the classroom', new_user_invitation_path(classroom_id: @classroom.id)

%p
  %b QR kód:
  možno to dorobiť tak, že toto všetko bude až na inej page-i (alebo aspoň v partiali?)

= link_to 'Edit', edit_classroom_path(@classroom)
\|
= link_to 'Back', classrooms_path
