%p#notice= notice

%p
  %b Name:
  = @classroom.name

%p
  %b Teacher:
  = @classroom.teacher.name

%p
  %b Year:
  = complete_school_year(@classroom.school_year)

%p
  = link_to 'Add Task', course_choice_path(classroom_id: @classroom.id)
%p
  %b Tasks:
%table
  %thead
    %tr
      %th Name
      %th 1st phase
      %th 2nd phase
      %th 3rd phase
  %tbody
    - @classroom.tasks.each do |task|
      %tr
        %td= link_to task.name, task
        %td= l task.first_submission_deadline
        %td= l task.review_deadline
        %td= l task.second_submission_deadline

%p
  %b Students:
  %br
  - @classroom.students.where.not(invitation_accepted_at: nil).each do |student|
    = student.name
    %br

%p
  %b Invitees:
  %br
  - @classroom.students.where(invitation_accepted_at: nil).each do |student|
    = student.email
    %br


%p
  %b Link pre študentov:
  = new_user_registration_url(classroom_hashid: @classroom.hashid)

%p
  %b Pozvanie študenta:
  = link_to 'Invite student to the classroom', new_user_invitation_path(classroom_id: @classroom.id)

%p
  %b QR kód:
  možno to dorobiť tak, že toto všetko bude až na inej page-i (alebo aspoň v partiali?)

= link_to 'Edit', edit_classroom_path(@classroom)
\|
= link_to 'Back', classrooms_path
