- if user_signed_in?
  .text-3xl.mb-12.font-bold
    Pekný deň,
    = current_user.first_name + '!'
.mb-4
  = link_to 'classrooms', classrooms_path, class: 'px-5 py-2 bg-teal-300 rounded-2xl'
.mb-4
  = link_to 'courses', courses_path, class: 'px-5 py-2 bg-sky-400 rounded-2xl'

.mb-4
  - if user_signed_in?
    = button_to 'logout', destroy_user_session_path, method: :delete, class: 'px-5 py-2 bg-pink-600 rounded-2xl'
  - else
    = link_to 'login', new_user_session_path, class: 'px-5 py-2 bg-pink-600 rounded-2xl'

- if user_signed_in? && current_user.student?
  .mb-4
    = link_to current_user.classroom.name, current_user.classroom


najblizsi piatok:

urobit review proces,
pridat prism - naucit sa, ako sa to robi - tym mozno aj zacat.




%p
  \- nech ma trieda aj take nastavenia, ze ci sa da student pozyvat a ak ano, tak ako (ze moze byt aj uz aj uzamknute pridavanie alebo take daco)
%p
  upratat permitted params vsetky do policies
%p



%ul
  %li
    pundit obmedzi moznost teachera pozvat iba na studenta a potom nejako blbne validacia, lebo to nevypise chybu, ale proste
    to nepusti cez permitted params a tym padom type sa automaticky da na nulu kvoli defaultu v DB - to niekedy fixnut
    aby to pekne vypisovalo tu chybu a nie takuto blbost