= form_for @review do |f|
  - if @review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - @review.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :state
    = f.number_field :state
  .field
    = f.label :project
    = f.text_field :project
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
